.posts {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    overflow-x: hidden;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    
}
@media only screen and (min-width: 425px) and (max-width: 767px) {
    .posts {
        margin-top: 1rem;
    }
}
@media only screen and (max-width: 424px) {
    .posts {
        margin-top: 0rem;
    }
}
@media only screen and (max-height: 425px) {
    
}