.entirePage-Descricao {
    background: linear-gradient(180deg, #2D2D2D 0%, #161616 0.01%, rgba(22, 22, 22, 0.75) 100%);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-Descricao {
    display: flex;
    align-items: center;
    justify-content: center;

}

.title-Descricao {
    font-size: 4rem ;
    color: white;
    text-align: center;
    margin: 3rem 1rem;
}

.body-Descricao {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80%;
    margin-bottom: 3rem;
    background-color: transparent;

}

.secaoTextos-Descricao {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.5rem 0;
}


.imagem-Descricao {
    width: 300px;
}

.texto-Descricao {
    color: white;
    font-size: 1.2rem;
    width: 100%;
}



@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .title-Descricao {
        font-size: 3rem;
    }
    .imagem-Descricao {
        width: 275px;
    }
}
@media only screen and (min-width: 425px) and (max-width: 767px) {
    .title-Descricao {
        font-size: 2.25rem;
    }
    .imagem-Descricao {
        width: 225px;
    }
    .texto-Descricao {
        font-size: 1.125rem;
    }
}
@media only screen and (max-width: 424px) {
    .title-Descricao {
        font-size: 2.25rem;
    }
    .imagem-Descricao {
        width: 225px;
    }
    .texto-Descricao {
        font-size: 1.125rem;
    }
}
@media only screen and (max-height: 425px) {
    
}