.entireItem {
    max-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    border: 0 solid black;
    margin: 2rem;
    background-color: rgb(128, 128, 128);
    border-radius: 10px;
    text-decoration: none;
}

.entireItem:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
    
}


.itemBox-Item {
    width: 250px;
    cursor: pointer;
}

.title-Item {
    font-size: 1rem;
    margin: 0.5rem 0;
    cursor: pointer;
    color: black;
    height: 10%;
    text-align: center;
    white-space:nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .entireItem {
        max-width: 200px;
    }
    
    .itemBox-Item {
        width: 200px;
    }
}
@media only screen and (min-width: 425px) and (max-width: 767px) {
    .entireItem {
        max-width: 300px;
    }
    
    .itemBox-Item {
        width: 300px;
    }
}
@media only screen and (max-width: 424px) {
    .entireItem {
        max-width: 200px;
    }
    
    .itemBox-Item {
        width: 200px;
    }
}
@media only screen and (max-height: 425px) {
    
}