.item {
    max-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    border: 0 solid black;
    margin: 2rem;
    background-color: rgb(128, 128, 128);
    border-radius: 10px;
    text-decoration: none;
}

.item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
    
}


.ItemBox {
    width: 250px;
    cursor: pointer;
}

.title {
    font-size: 1rem;
    margin: 0.5rem 0;
    cursor: pointer;
    color: black;
    height: 10%;
    text-align: center;
}