.entireVoltar {
    width: 100px;
    height: 45px;
    border-radius: 20px;
    border: 1px solid black;
    background: linear-gradient(180deg, #777 0%, #777 0.01%, rgba(22, 22, 22, 0.75) 100%);
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    color: white;
}

.entireVoltar:hover {
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .entireVoltar {
        width: 80px;
        height: 35px;
        left: 0.25rem;
        bottom: 0.25rem;
    }
}
@media only screen and (min-width: 425px) and (max-width: 767px) {
    .entireVoltar {
        width: 60px;
        height: 25px;
        left: 0.25rem;
        bottom: 0.25rem;
    }
}
@media only screen and (max-width: 424px) {
    .entireVoltar {
        width: 60px;
        height: 25px;
        left: 0.25rem;
        bottom: 0.25rem;
    }
}
@media only screen and (max-height: 425px) {
    
}